<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register your Self </title>
</head>
<body>
    <form action="register" method="post">
        {% csrf_token %}


        <input type="text" name="username" placeholder="Unique UserName"><br><br>
        <input type="text" name="first_name" placeholder="First Name"><br><br>
        <input type="text" name="last_name" placeholder="Last Name"><br><br>
        <input type="email" name="email" placeholder="Email Address"><br><br>
        <input type="password" name="password1" placeholder="PassWord"><br><br>
        <input type="password" name="password2" placeholder="Comfirm PassWord"><br><br>
        <input type="submit" >
        
    </form>

    <div >
        {% for msg in messages %}
        <h3>{{ msg }}</h3>
        {% endfor %}
    </div>
</body>
</html>